/* html, body {
  width: 100%;
  overflow-x: hidden;
} */
a:link, a:visited {
  cursor: pointer;
  color: inherit;
  /* text-decoration: none; */
}
a:hover, a:active {
  cursor: pointer;
  color: inherit;
  /* text-decoration: underline; */
}
.honey {
  display: none;
}
form {
  font-family: 'roboto', sans-serif;
  width: 80%;
  margin: 100px auto 0;
  /*box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);*/
  padding: 0 0 40px;
  border-radius: 3px;
  color: #555;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font: inherit;
  transition: font-size 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

input,
textarea {
  font: inherit;
  font-size: 1em;
  margin: 28px 25px 10px;
  width: 80%;
  display: block;
  border: none;
  padding: 20px 0 10px;
  border-bottom: solid 1px #555;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, inherit 4%);
  background-position: -400px 0;
  background-size: 400px 100%;
  background-repeat: no-repeat;
  transition: background 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  resize: none;
  overflow: hidden;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #000;
}
input:focus, input:valid,
textarea:focus,
textarea:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder,
textarea:valid::-webkit-input-placeholder {
  font-size: 1em;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
  opacity: 1;
}

input[type="email"] {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #555 4%);
  background-position: -400px 0;
  background-repeat: no-repeat;
  transition: border-bottom 0.3s ease, background 0.3s ease;
}
input[type="email"] ~ span.validation-text {
  position: absolute;
  visibility: hidden;
  font-family: 'roboto', sans-serif;
  font-size: 0.6em;
  width: 400px;
  margin-left: 25px;
  margin-top: -5px;
  color: white;
  transition: color 0.3s ease-in-out;
}
input[type="email"]:not([value=""])::-webkit-input-placeholder {
  font-size: 0.8em;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  visibility: visible !important;
  opacity: 1;
}
input[type="email"]:not([value=""]):focus::-webkit-input-placeholder {
  color: #555;
}
input[type="email"]:not([value=""]):focus:not(:valid)::-webkit-input-placeholder {
  color: #E91E63;
}
input[type="email"]:focus {
  background-position: 0 0;
}
input[type="email"]:focus:not(:valid):not([value=""]) {
  border-bottom: solid 1px #E91E63;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #E91E63 4%);
}
input[type="email"]:not(:focus):not(:valid):not([value=""]) {
  border-bottom: solid 1px #E91E63;
  background-position: 0 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #E91E63 4%);
}
input[type="email"]:not(:focus):not(:valid):not([value=""])::-webkit-input-placeholder {
  color: #E91E63;
}
input[type="email"]:not(:focus):not(:valid):not([value=""]) ~ span.validation-text {
  visibility: visible;
  color: #E91E63;
}